*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto";
}

.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
  }

.main{
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.photo-cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50vw;
    gap: 2rem;
}

.photo-text{
    flex-direction: column;
    display: flex;
    justify-content: space-between;
}

.foot p{
    position: absolute;
    bottom: 5px;
    left: 17rem;
    color: grey;
    font-size: 14px;
 }

/* LOGIN FORM */
.login-form{
    width: 50vw;
    height: 100vh;
    background-color: #272D69;
    color: white;
}

.form-cont{
    margin: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}

.head{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.head p{
    font-size: 20px;
    font-weight: 300;
}

.head h1{
    font-size: 40px;
    font-weight: 700;
}

.form form{
    display: flex;
    flex-direction: column;
}

.form form input{
    background-color:#161B4B;
    color: white;
    padding: 0.6rem 1rem;
    border: none;
}

#user-icon{
    position: relative;
    top: 42px;
    left: 12px;
    font-size: 20px;
}

#pass-icon{
    position: relative;
    top: 42px;
    left: 12px;
    font-size: 20px;
}

.form form input:focus{
    background-color:#161B4B;
    color: white;
}

.form form input{
    padding-left: 40px;
}

.form form input::placeholder{
    color:  #FFFFFF;
    font-size: 15px;
    font-weight: 300;
}


a{
    text-decoration: none;
    color: white;
}

.btns{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.login-btn{
    background-color: #CF914B;
    border-radius: 50px;
    border: none;
    padding: 10px 15rem;
}

.login-btn:hover{
    background-color: #c57418;
}

#gmail-btn{
    padding: 10px 0px;
    width: 20px;
    border-radius: 8px;
}

label{
    padding-left:0px !important;
}